@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", "Times New Roman", Times, serif;
}

body {
  background-color: aliceblue;
  display: grid;
  height: 100vh;
}

.container {
  width: 70%;
  margin: auto;
  background: white;
  color: rgba(0, 0, 0, 0.674);
  box-shadow: #0000003d 0 3px 8px;

  .head {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
  }

  .he {
    display: none;
  }

  .inputs {
    width: 100%;
    border-bottom: 1px solid grey;

    input {
      padding: 20px;
      border: none;
      outline: none;
      width: 100%;
    }

    .add-list {
      font-style: italic;
      font-size: 17px;
    }

    .clear-btn {
      text-align: center;
      cursor: pointer;
      font-size: 20px;
      color: grey;
    }
  }

  .display-list {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid grey;

    label {
      margin-left: 20px;
    }

    .fa {
      position: absolute;
      right: 3%;
      color: grey;
    }
    .fa-hide{
      display: none;
    }
    .fa-show{
      display:block;
    }
    .text{
      text-decoration: line-through;
    }
  }
}
